/* .avi{
    background-color: red;
    color: black;
}
#nas{
    background-color: red;
    color: black;

} */
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: aqua;
    color: brown;
}